<mj-section full-width="full-width" background-color="#f1f1f1">
  <mj-column>
    <mj-text font-size="19px" align="center"><strong>RDPC</strong> Online Training</mj-text>
  </mj-column>
</mj-section>
